@import "tailwindcss";

@media(max-width:756px){
    .aa{
        width: 300;
        text-align: center; 
        margin-inline:50 ;
        margin-top: 50;
        font-size: 16;
    }
    .bb{
        text-align: center ;
        margin-top: 180;
        /* font-size: 26; */
        padding-inline: 20  ;
    }
    .navbar{
        display: none;
    }
    
}
/* Agar siz to"g"ridan-to"g"ri CSS yozmoqchi bo"lsangiz */

/* Burger menu */
@media (max-width: 756px) {
    .navbar {
      display: none; /* Katta ekranda oddiy navbar ko"rsatiladi */
    }
  
    .navbar.open {
      display: block; /* Burger icon bosilganda navbar ochiladi */
    }
  
    .burger-icon {
      display: block;
      cursor: pointer;
    }
    .sidebar{
      animation: nom 1s ease;
    }
    .homeee{
      animation: nomm 1s ease;
    }
    @keyframes nom {
      0%{
        transform: translateX(350px);
      }
      
    }
  
  }
  
  @media (min-width: 757px) {
    .burger-icon {
      display: none; /* Katta ekranlarda burger icon yashiriladi */
    }
    .navbar {
      display: flex;
      gap: 1rem;
    }
  }
  